# Python bytecode
__pycache__/
*.py[cod]

# Environments and Secrets
.env
.env.local
db.sqlite3

# Virtual Environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Docker logs (Optional)
*.log