# Django Settings
SECRET_KEY=django-insecure-)d311-a55-zj=xi5ih4)@3@x=5ef5zb-p+ywf6@nru1*1ok(f%
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
DB_HOST=db
DB_NAME=upm_mysql_db
DB_USER=admin3
DB_PASSWORD=admin3
DB_PORT=3306

# MySQL Settings (for docker-compose)
MYSQL_DATABASE=upm_mysql_db
MYSQL_USER=admin3
MYSQL_PASSWORD=admin3
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_PORT=3306

# Django Port
DJANGO_PORT=8000

